In [1]:
import data_organize as do
from WindPy import w
import pandas as pd
import numpy as np

In [31]:
w.start()

Welcome to use Wind Quant API for Python (WindPy)!

COPYRIGHT (C) 2020 WIND INFORMATION CO., LTD. ALL RIGHTS RESERVED.
IN NO CIRCUMSTANCE SHALL WIND BE RESPONSIBLE FOR ANY DAMAGES OR LOSSES CAUSED BY USING WIND QUANT API FOR Python.

.ErrorCode=0
.Data=[OK!]

In [9]:
Macro_month = w.edb("M0066329,M0068107,M0085938,M0062910,M0061581,M0000705,M0000612,M0000708,M0068122,M0068116,M0000712,M0096793,M0096794,M0096795,M0096799,M0096811,M0096812,M0096814,M0096815,M0096816,M0096817,M0049160,M0001227,M0017134,M0017127,M0000545,M0000607,M0017129,S0027908,M0000210,G8400010,G0004042,G0004776,M0045733,M0045728,M0045741,S0049200,S0049232,S0029670,S0073244,S0073300,M0000273,M0096893,M0046152,M0046151,M0046150,M0001428,S6110814,M0061660,M0001456,M0073698,M5201395,M0061659,M0000357,M0000557,M0001440,S0031543", "2010-01-01", "2020-09-04")

In [34]:
Macro_month2 = w.edb("M0066329,M0068107,M0085938,M0062910,M0061581,M0000705,M0000612,M0000708,M0068122,M0068116,M0000712,M0096793,M0096794,M0096795,M0096799,M0096811,M0096812,M0096814,M0096815,M0096816,M0096817,M0049160,M0001227,M0017134,M0017127,M0000545,M0000607,M0017129,S0027908,M0000210,G8400010,G0004042,G0004776,M0045733,M0045728,M0045741,S0049200,S0049232,S0029670,S0073244,S0073300,M0000273,M0096893,M0046152,M0046151,M0046150,M0001428,S6110814,M0061660,M0001456,M0073698,M5201395,M0061659,M0000357,M0000557,M0001440,S0031543", "2020-07-01", "2020-09-04")

In [39]:
Macro_month2.Fields

['CLOSE']

In [37]:
np.array(Macro_month.Data).T

array([[   nan,    nan,    nan, ...,    nan,  14.  , 124.  ],
       [   nan,    nan,    nan, ..., 119.69,  17.9 ,  84.  ],
       [   nan,    nan,    nan, ...,    nan,  17.9 ,  71.78],
       ...,
       [  0.5 ,   3.6 ,  -0.5 , ..., -12.8 , -11.4 , -16.9 ],
       [  0.5 ,  10.3 ,   0.4 , ...,  -8.1 ,  -9.9 , -12.7 ],
       [   nan,    nan,    nan, ...,    nan,    nan,    nan]])

In [43]:
df = pd.DataFrame(np.array(Macro_month.Data).T,columns = Macro_month.Codes)
df['date'] = Macro_month.Times
df.index = Macro_month.Times
do.upload_data(df,'Macro_variables_month')

In [32]:
err,df = w.edb("S0260035,S0212346,S5065106,S5065107,S5049024,S5065113,S5065114,S5065116,S5065115,S5065112,S5065109,S0031523,S5104570,S0181379,S5116614,M0000005,S5140384,S0181392,S0181382,S0029756,S5713056,S0181378,S0203119,S0181387,S5440017,S5435650,S5704661,S5713191,S5705039,S5063753,S0181370,S5065108,S5914515,S5704662,S6400611,S0113892,S0031550,S5715674,S5715675,S0105897", "2011-01-01", "2020-09-04",usedf = True)

In [41]:
df.columns = ['date'] + df.columns.tolist()[1:]

In [42]:
df.head()

,date,S0260035,S0212346,S5065106,S5065107,S5049024,S5065113,S5065114,S5065116,S5065115,...,S0181370,S5065108,S5914515,S5704662,S6400611,S0113892,S0031550,S5715674,S5715675,S0105897
0,2011-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2011-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2011-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2011-01-04,NaN,58.32,NaN,NaN,100.00,NaN,NaN,NaN,NaN,...,10456.0,NaN,NaN,NaN,NaN,NaN,1693.0,NaN,NaN,2584.9845
4,2011-01-05,NaN,56.40,NaN,NaN,101.58,NaN,NaN,NaN,NaN,...,10390.0,NaN,NaN,NaN,NaN,NaN,1621.0,NaN,NaN,2569.8222

In [52]:
df2 = pd.DataFrame(np.array(Macro_day.Data).T,columns = Macro_day.Codes)
df2['date'] = Macro_day.Times
df2.index = Macro_day.Times

In [43]:
do.upload_data(df,'high_frequency_for_prediction')

您已经成功上传high_frequency_for_prediction

In [15]:
Macro_day = do.get_data('Macro_variables_month')

IndexError: index 0 is out of bounds for axis 0 with size 0

In [7]:
col = list(Macro_day)

In [8]:
col.insert(0,col.pop(col.index('date')))

In [9]:
Macro_day = Macro_day.loc[:,col]

In [14]:
Macro_day.head()

,date,M0066329,M0068107,M0085938,M0062910,M0061581,M0000705,M0000612,M0000708,M0068122,...,S6110814,M0061660,M0001456,M0073698,M5201395,M0061659,M0000357,M0000557,M0001440,S0031543
0,2010-01-31,NaN,NaN,NaN,5.2,0.0,0.6,1.5,-0.7,NaN,...,977638.0,13.7,0.9,-9.9,21.0,14.10,NaN,NaN,14.0,124.00
1,2010-02-28,NaN,NaN,NaN,11.4,0.1,1.2,2.7,-1.5,NaN,...,665516.0,21.2,58.4,51.0,39.3,22.20,23.6,119.69,17.9,84.00
2,2010-03-31,NaN,NaN,NaN,-4.1,-0.3,-0.7,2.4,0.1,NaN,...,881659.0,15.3,25.4,22.5,30.4,18.40,25.8,NaN,17.9,71.78
3,2010-04-30,NaN,NaN,NaN,0.3,0.3,0.2,2.8,0.1,NaN,...,862533.0,17.0,21.0,20.6,31.3,18.70,24.6,NaN,18.1,60.51
4,2010-05-31,NaN,NaN,NaN,-9.8,0.1,-0.1,3.1,0.2,NaN,...,830912.0,16.7,22.5,17.5,31.1,18.92,24.8,81.64,18.2,53.25

In [48]:
Macro_day.index = pd.DatetimeIndex(Macro_day.date)

In [53]:
Macro_day['M0066329'].resample('M').agg(['mean','last'])

            mean  last
date
2010-01-31   NaN   NaN
2010-02-28   NaN   NaN
2010-03-31   NaN   NaN
2010-04-30   NaN   NaN
2010-05-31   NaN   NaN
...          ...   ...
2020-04-30  -1.8  -1.8
2020-05-31  -0.5  -0.5
2020-06-30   0.5   0.5
2020-07-31   0.5   0.5
2020-08-31   NaN   NaN

[128 rows x 2 columns]

In [11]:
# do.upload_data(Macro_day,'Macro_variables_month',method = 'replace')

您已经成功上传Macro_variables_month

In [17]:
do.get_all_table_name()

(('AAA_CD_prc',),
 ('Assets-return',),
 ('Assets_return',),
 ('Credit_Premium',),
 ('Credit_city_debt_data',),
 ('Credit_city_economic_and_debt_data',),
 ('GK_5y_base',),
 ('GK_prc',),
 ('Macro_variables_month',),
 ('Net_buy_bond',),
 ('Overall_Data_Resource',),
 ('Overall_mkt_data',),
 ('P1_资产配置分析框架_概览',),
 ('P2_流动性观察框架',),
 ('Repo_amt_prc_for_collateral',),
 ('Repo_amt_prc_for_terms',),
 ('Repo_price_for_investors',),
 ('amt_fund_type',),
 ('bank_financial_products_ytm',),
 ('bond_financing',),
 ('consumption',),
 ('cpi_food',),
 ('currency',),
 ('economic_climate',),
 ('economy_growth',),
 ('fixed_asset_investment',),
 ('high_frequency_for_prediction',),
 ('housing',),
 ('industry_finance',),
 ('industry_value',),
 ('industry_volumn',),
 ('interest_rate_day',),
 ('interest_rate_month',),
 ('international_bs',),
 ('ir_bond1',),
 ('liquidity_prc_of_money_mkt',),
 ('margin_newfund_amt',),
 ('margin_newfund_scale',),
 ('name',),
 ('net_assets_fund_type',),
 ('price_index',),
 ('resoure_table',),
 ('scale_fund_type',),
 ('unemployment',),
 ('债券基金观察清单',),
 ('债券基金：久期对标标准',),
 ('债券基金：目标债券基金净值跟踪表',),
 ('指标字典',))

In [45]:
a = do.get_data('high_frequency_for_prediction')
# c = do.get_data('债券基金：目标债券基金净值跟踪表',how = 'raw')

成功转换指标代码

In [46]:
a

,date,期货结算价(活跃合约):MICEX 布伦特原油,期货结算价(活跃合约):IPE英国天然气,平均批发价:猪肉,平均批发价:牛肉,前海农产品批发价格指数:蔬菜,平均批发价:鲫鱼,平均批发价:鲤鱼,平均批发价:大带鱼,平均批发价:白鲢鱼,...,期货结算价(活跃合约):菜籽油,平均批发价:羊肉,水泥价格指数:全国,中国铁矿石价格指数(CIOPI):国产铁矿石,全国主要港口:铁矿石库存:原口径(30港口),22个省市:平均价:猪肉,波罗的海干散货指数(BDI),产量:粗钢:重点企业(旬),产量:生铁:重点企业(旬),南华工业品指数
0,2011-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2011-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2011-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2011-01-04,NaN,58.32,NaN,NaN,100.00,NaN,NaN,NaN,NaN,...,10456.0,NaN,NaN,NaN,NaN,NaN,1693.0,NaN,NaN,2584.9845
4,2011-01-05,NaN,56.40,NaN,NaN,101.58,NaN,NaN,NaN,NaN,...,10390.0,NaN,NaN,NaN,NaN,NaN,1621.0,NaN,NaN,2569.8222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3513,2020-08-31,46.00,28.95,48.42,74.33,147.19,19.33,12.32,39.21,8.19,...,8613.0,70.84,140.56,375.39,NaN,NaN,NaN,NaN,NaN,2322.7100
3514,2020-09-01,45.89,36.70,48.22,74.35,144.34,18.66,12.00,38.13,8.39,...,8692.0,70.85,140.60,376.38,NaN,NaN,1471.0,NaN,NaN,2333.8600
3515,2020-09-02,44.72,35.91,48.28,74.01,145.13,19.03,12.04,39.07,8.35,...,8674.0,70.62,140.58,377.40,NaN,NaN,1445.0,NaN,NaN,2334.5500
3516,2020-09-03,43.48,37.00,NaN,NaN,146.07,NaN,NaN,NaN,NaN,...,8739.0,NaN,140.99,377.99,NaN,NaN,1395.0,NaN,NaN,2316.4400
3517,2020-09-04,NaN,NaN,47.95,74.75,NaN,19.06,12.23,38.00,8.30,...,8670.0,70.77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2304.4300

In [23]:
name1 = pd.read_excel('指标库.xlsx',sheet_name = 'Macro_variables_month')
name2 = pd.read_excel('指标库.xlsx',sheet_name = 'high_frequency_for_prediction')
name3 = pd.read_excel('指标库.xlsx',sheet_name = '债券基金_久期对标标准')
name4 = pd.read_excel('指标库.xlsx',sheet_name = 'P1_资产配置分析框架_概览')

In [24]:
name = pd.concat([name1,name2,name3,name4],axis = 0)

In [25]:
name

                   指标名称 频率    单位      指标ID             table_name
0           PPI:生产资料:环比  月  None  M0066329  Macro_variables_month
1    CPI:食品烟酒:畜肉类:猪肉:环比  月  None  M0068107  Macro_variables_month
2    CPI:食品烟酒:畜肉类:牛肉:环比  月  None  M0085938  Macro_variables_month
3        CPI:食品烟酒:鲜菜:环比  月  None  M0062910  Macro_variables_month
4            CPI:非食品:环比  月  None  M0061581  Macro_variables_month
..                  ... ..   ...       ...                    ...
13                 美元指数  日  None  M0000271         P1_资产配置分析框架_概览
14  期货结算价(活跃合约):COMEX黄金  日  None  S0180945         P1_资产配置分析框架_概览
15              南华工业品指数  日  None  S0105897         P1_资产配置分析框架_概览
16              南华农产品指数  日  None  S0105898         P1_资产配置分析框架_概览
17               南华能化指数  日  None  S0105900         P1_资产配置分析框架_概览

[117 rows x 5 columns]

In [ ]:
name.to_csv('name.csv',encoding = 'gbk')

In [26]:
do.upload_data(name,'指标字典')

您已经成功上传指标字典